.cart-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  opacity: .9;
  z-index: 250;
  background: gray;
}

.cart {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 45%;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem;
}

/* ============CART COUNT=========== */
.count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-item h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-item span {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: .2rem .5rem;
  border-radius: 10%;
  font-size: .9rem;
}

.count-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-black);
  padding: .5rem;
  border-radius: 10%;
}

/* ============END CART COUNT=========== */

/* ===============CART EMPTY============ */
.cartempty {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartempty img {
  width: 15rem;
  object-fit: fill;
  margin-bottom: 1rem;
}

.cartempty button {
  padding: .5rem 1rem;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.cartempty-icon {
  transform: scale(1.5);
}

/* ===============END CART EMPTY============ */