.cart-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .9;
  z-index: 250;
  background: gray;
}

.cart-unvisible {
  display: none;
}

.cart {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 45%;
  background-image: linear-gradient(90deg, rgba(40, 173, 222, 1) 30%, rgb(27, 76, 224) 85.5%);
  color: var(--color-black);
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* ============CART COUNT=========== */
.count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.count-item h4 {
  border: 4px solid var(--color-white);
  border-radius: .5rem;
  padding-left: .5rem;
  overflow: hidden;
}

.count-item span {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: .5rem;
  border-radius: .3rem 0 0 .3rem;
  font-size: .9rem;
  outline: 0;
}

.count-item-button>* {
  display: flex;
  align-items: center;
  transform: scale(2.5);
}


.count-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-black);
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.count-reset button {
  background: transparent;
  color: var(--color-white);
}

/* ============END CART COUNT=========== */

/* ===============CART EMPTY============ */
.cartempty {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.cartempty img {
  width: 11.5rem;
  object-fit: fill;
  margin-bottom: 1rem;
}

.cartempty button {
  padding: .5rem 1rem;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.cartempty-icon {
  transform: scale(1.5);
}

.empty-unvisible {
  display: none;
}

/* ===============END CART EMPTY============ */

/* ===============CART ITEMS============== */
/* parent di cart */
.cartitems {
  margin-top: 1rem;
  color: var(--color-black);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.cartitems button {
  padding: .7rem;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: .5rem;
}

.cartitem {
  display: grid;
  grid-template-columns: 1fr 1.5fr .5fr;
  gap: 1rem;
  place-items: center;
}

.item-img {
  padding: .5rem;
  border-radius: 1rem;
}

.item-img h5 {
  text-align: right;
  padding: .2rem .4rem;
  background: var(--color-white);
  opacity: .7;
  width: fit-content;
  border-radius: 1rem;
}

.item-content {
  text-align: center;
}

.qty {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.qty button {
  padding: .7rem;
}

.item-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.price-icon>* {
  transform: scale(1.5);
}

.disabled {
  visibility: hidden;
}

/* ===============END CART ITEMS============== */
/* ===============SUBTOTAL============== */
.subtotal {
  margin-top: 3rem;
  width: 100%;
  padding: .5rem 1rem;
  border: 5px solid var(--color-black);
  border-radius: .5rem;
}

.subtotal-price {
  display: flex;
  justify-content: space-between;
}

.subtotal p {
  text-align: center;
  font-size: .9rem;
}

.subtotal button {
  width: 100%;
  background: var(--color-black);
  color: var(--color-white);
  padding: .5rem;
  border-radius: .5rem;
}

/* ===============END SUBTOTAL============== */


/* ===============MEDIA QUERIES============== */
@media screen and (max-width:990px) {
  .cart {
    width: 60%;
  }

  .cartitems {
    gap: .3rem;
  }

  .cartitem {
    gap: .3rem;
  }
}

@media screen and (max-width:768px) {
  .cart {
    width: 70%;
  }

  .item-content h3 {
    font-size: 1.1rem;
  }

  .item-content small {
    font-size: .8rem;
  }
}

@media screen and (max-width:576px) {
  .cart {
    width: 100%;
  }

  .cartitems {
    margin-top: .5rem;
  }

  .item-content h3 {
    font-size: .9rem;
  }

  .item-content small {
    font-size: .7rem;
  }

  .item-content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

/* ===============END MEDIA QUERIES============== */