.cart-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .9;
  z-index: 250;
  background: gray;
}

.cart-unvisible {
  display: none;
}


.cart {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 45%;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem;
  overflow: scroll;
}

/* ============CART COUNT=========== */
.count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-item {
  display: flex;
  gap: 2rem;
}

.count-item-button>* {
  transform: scale(3);
  background: var(--color-black);
  padding: .1rem;
  color: var(--color-white);
  border-radius: .2rem;

}

.count-item span {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: .2rem .5rem;
  border-radius: 10%;
  font-size: .9rem;
}

.count-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-black);
  padding: .5rem;
  border-radius: 30%;
  cursor: pointer;
}

.count-close button {
  border-radius: 50%;
  color: var(--color-black);
  padding: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

/* ============END CART COUNT=========== */

/* ===============CART EMPTY============ */
.cartempty {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartempty img {
  width: 15rem;
  object-fit: fill;
  margin-bottom: 1rem;
}

.cartempty button {
  padding: .5rem 1rem;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.cartempty-icon {
  transform: scale(1.5);
}

.empty-unvisible {
  display: none;
}

/* ===============END CART EMPTY============ */

/* ===============CART ITEMS============== */
/* parent di cart */
.cartitems {
  margin-top: 1rem;
  color: var(--color-black);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.cartitems button {
  padding: .7rem;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: .5rem;
}

.cartitem {
  display: grid;
  grid-template-columns: 1fr 1.5fr .5fr;
  gap: 1rem;
  place-items: center;
}

.item-img {
  padding: .5rem;
  border-radius: 1rem;
}

.item-img h5 {
  text-align: right;
  padding: .2rem .4rem;
  background: var(--color-white);
  opacity: .7;
  width: fit-content;
  border-radius: 1rem;
}

.item-content {
  text-align: center;
}

.qty {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.qty span {
  padding: .5rem 1rem;
  border-radius: 1rem;
  /* border: 3px solid var(--color-black); */
  background: var(--color-white);
  color: var(--color-bla)--color-black;
}

.qty button {
  padding: .7rem;
}

.item-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.price-icon>* {
  transform: scale(1.5);
}

/* ===============END CART ITEMS============== */
/* ===============SUBTOTAL============== */
.subtotal {
  margin-top: 3rem;
  width: 100%;
  padding: .5rem 1rem;
  border: 5px solid var(--color-black);
  border-radius: .5rem;
}

.subtotal-price {
  display: flex;
  justify-content: space-between;
}

.subtotal p {
  text-align: center;
}

.subtotal button {
  width: 100%;
  background: var(--color-black);
  color: var(--color-white);
  padding: .5rem;
  border-radius: .5rem;

}

/* ===============END SUBTOTAL============== */