.popularsales {
  height: 100%;
  background: var(--color-white);
}

.popularsales-title {
  text-align: center;
  color: var(--color-black);
  margin-bottom: 3rem;
}

.popularsales-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.highlight {
  padding: 6rem 0;
  height: 100%;
  width: 100%;
  color: var(--color-black);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  place-items: center;
}

.highlight-content h1 {
  color: rgb(109, 109, 232);
}

.highlight-content p {
  font-size: .9rem;
  margin: .5rem 0 1rem;
}

.highlight-content a {
  height: fit-content;
  width: 100%;
  padding: .7rem .5rem;
  background: blueviolet;
  border-radius: 1rem;
  color: var(--color-white);
}

/* ==============MEDIA QUERIES=========== */
@media screen and (max-width:990px) {
  .popularsales-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .highlight {
    gap: 1rem;
  }
}

@media screen and (max-width:600px) {
  .popularsales-content {
    grid-template-columns: 1fr;
  }

  .highlight {
    grid-template-columns: 1fr;
  }

  .hihghlight-img {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
}