.header {
  width: 100vw;
  position: relative;
  top: 5rem;
  height: 100vh;
}

/* .header-container{

} */
.header-title h1 {
  color: black;
  text-align: center;
}

.header-content {
  max-width: 100%;
  display: grid;
  grid-template-columns: .5fr 3fr .5fr;
  place-items: center;
  gap: 5rem;
}

.header-videos {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.header-videos img {
  border-radius: 1rem;
  cursor: pointer;
}

.header-product {
  transform: scale(.8) rotate(-20deg);
  transition: var(--transition);
}

.header-product:hover {
  transform: scale(.8) rotate(0);
  transition: var(--transition);
}

.header-socials {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  transform: scale(1.5);
}