.navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 5rem;
  z-index: 99;
  background: rgb(27, 76, 224);
}

.nav-10 {
  background: rgb(149, 145, 255);
  opacity: 0.9;
  color: black;
}

.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 6rem;
  cursor: pointer;
}


.navbar-menu {
  display: flex;
  gap: 3rem;
}

.navbar-menu button {
  background: transparent;
  transform: scale(2);
  cursor: pointer;
  color: var(--color-white);
}

.logo-10 img {
  filter: brightness(0);
}

.menu-10 button {
  color: var(--color-black) !important;
}

/* ============MEDIA QUERIES=========== */
@media screen and (max-width:600px) {
  .navbar-container {
    padding: 0 1rem;
  }


}