nav {
  width: 100vw;
  position: fixed;
  height: 5rem;
  z-index: 99;
}

.nav-0 {
  background: rgb(27, 76, 224);
}

.nav-30 {
  background: #fff;
}

.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 6rem;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  gap: 3rem;
}

.navbar-menu button {
  background: transparent;
  transform: scale(2);
  cursor: pointer;
  color: var(--color-white);
}