@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --color-white: #fff;
  --color-black: #000;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 500ms ease;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
}

section {
  padding: 3rem 0;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
}

.btn {
  background: var(--color-black);
  padding: .7rem;
  color: var(--color-white);
  border-radius: .5rem;
}

/* =======CUSTOM SHOE COLOR======== */
.blue-white {
  background-image: linear-gradient(0deg, rgb(191, 173, 255) 10%, rgb(0, 64, 255) 85.5%) !important;
}

.red-black {
  background-image: linear-gradient(0deg, rgb(58, 58, 58) 10%, rgb(255, 0, 0) 85.5%) !important;
}

.violet-white {
  background-image: linear-gradient(0deg, rgb(182, 179, 255) 10%, rgb(255, 0, 242) 85.5%) !important;
}

.green-white {
  background-image: linear-gradient(0deg, rgb(182, 179, 255) 10%, rgb(13, 255, 0) 85.5%) !important;
}

.red-white {
  background-image: linear-gradient(0deg, rgb(182, 179, 255) 10%, rgb(255, 0, 0) 85.5%) !important;
}

.orange-white {
  background-image: linear-gradient(0deg, rgb(182, 179, 255) 10%, rgb(255, 128, 0) 85.5%) !important;
}

.brown-white {
  background-image: linear-gradient(0deg, rgb(182, 179, 255) 10%, rgb(113, 86, 58) 85.5%) !important;
}

.bluesky-white {
  background-image: linear-gradient(0deg, rgb(191, 173, 255) 10%, rgb(28, 85, 255) 85.5%) !important;
}

.yellow-dark {
  background-image: linear-gradient(0deg, rgb(33, 33, 33) 10%, rgb(255, 128, 0) 85.5%) !important;
}

.purple-white {
  background-image: linear-gradient(0deg, rgb(191, 173, 255) 10%, rgb(127, 0, 196) 85.5%) !important;
}

.green-dark {
  background-image: linear-gradient(0deg, rgb(33, 33, 33) 10%, rgb(48, 255, 29) 85.5%) !important;
}

.white-dark {
  background-image: linear-gradient(0deg, rgb(191, 173, 255) 10%, rgb(33, 33, 33) 85.5%) !important;
}

.darkblue-white {
  background-image: linear-gradient(0deg, rgb(191, 173, 255) 10%, rgb(0, 32, 128) 85.5%) !important;
}