.singleshoe {
  padding: 1rem .5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 1rem;
  place-items: center;
  background: gray;
}

/* =========TOP SALES PROPS=========== */
.grid1 {
  grid-template-columns: 1fr !important;
  text-align: left;
}

.img1 img {
  transform: rotate(0deg) scale(1) !important;
  padding: 1rem !important;
}

/* =========END=========== */

.shoe-span {
  height: 100%;
  width: 100%;
  font-size: .9rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: .2rem;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}

.shoe-button {
  height: 100%;
  width: 100%;
  display: flex;
  gap: .5rem;
}

.shoe-button button {
  padding: .5rem;
  border-radius: .5rem;
}

.shoe-img img {
  transform: rotate(-25deg) scale(1.5);
}

.blue {
  background: blue !important;
}

.red {
  background: red !important;
}

.violet {
  background: violet !important;
  ;
}

/* =========MEDIA QUERIES======== */
@media screen and (max-width:990px) {
  .shoe-img img {
    transform: rotate(-20deg) scale(1.2);
  }
}

@media screen and (max-width:600px) {
  .shoe-img img {
    transform: rotate(-15deg);

  }
}